<!DOCTYPE html>
<html>
<head>
  <title>Login - Samadhan</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="container">
  <h1>Login</h1>

  <input type="email" id="email" placeholder="Enter Email">
  <input type="password" id="password" placeholder="Enter Password">

  <button onclick="login()">Login</button>

  <p>Don't have an account?</p>
  <a href="/signup">Signup</a>

  <div id="message"></div>
</div>

<script src="/static/js/auth.js"></script>

</body>
</html>