<!DOCTYPE html>
<html>
<head>
  <title>Signup - Samadhan</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="container">
  <h1>Signup</h1>

  <label for="name">username</label>
  <input type="text" name="username" id="name" placeholder="Name">

  <label for="email">email</label>
  <input type="email" name="email" id="email" placeholder="Email">

  <label for="password">password</label>
  <input type="password" name="password" id="password" placeholder="Password">

  <button onclick="signup()">Signup</button>

  <div id="message"></div>
</div>

<script src="/static/js/auth.js"></script>

</body>
</html>